@use "./index.scss" as index;

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin dark-text {
  background: linear-gradient(to right, black, #0c64bc, black);
  background-clip: text;
  color: transparent;
}

@mixin profile {
  width: 30%;
  padding: 0.5rem;
  @include index.flex-box($justify-content: flex-end);
}

@mixin profile-btn {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  border: 4px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(150deg, white, dodgerblue, white) 1;
  color: white;
  transition: all 400ms ease-in;
}

@mixin get-started {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  @include index.flex-box;
  gap: 0.5rem;
  border: 2px solid white;
  border-radius: 30px;
  transition: all 400ms ease-in;
  animation: slideUp 1s ease-out forwards;
}

// ****************** NAVBAR STYLES ********************
.navbar {
  width: 100%;
  height: 10vh;
  @include index.flex-box;
  position: relative;
  .logo {
    width: 20%;
    .logo-icon {
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;
      color: white;
      filter: drop-shadow(5px 5px 5px black);
    }
  }
  nav {
    width: 80%;
    @include index.flex-box;
    ul {
      width: 70%;
      padding: 1rem;
      @include index.flex-box($justify-content: space-around);
      li {
        a {
          font-size: 1.3rem;
          color: white;
        }
        &:hover {
          border-bottom: 2px solid white;
        }
      }
      .res-profile {
        display: none;
      }
    }
    .profile {
      @include profile;
      a {
        @include profile-btn;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  .menu {
    display: none;
    margin-right: 2%;
    cursor: pointer;
    .menu-icon {
      width: 2rem;
      height: 2rem;
      color: white;
    }
  }
  @media (width<=1000px) {
    justify-content: space-between;
    nav {
      ul {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        height: 90vh;
        transform: translateY(-100%);
        padding: 1rem;
        left: 0;
        z-index: 1;
        border-top: 1px solid white;
        background: linear-gradient(120deg, lime, dodgerblue, lime);
        transition: all 0.3s ease-in-out;
        li {
          padding: 1rem;
          &:hover {
            border: none;
          }
        }
        .res-profile {
          display: block;
          @include profile;
          text-align: center;
          width: 32%;
          a {
            @include profile-btn;
            width: 100%;
            background-color: white;
            border-image: none;
            border-radius: 5px;
            color: black;
          }
          @media (width<600px) {
            width: 40%;
          }
        }
        &.open {
          @include index.flex-box(
            $flex-dir: column,
            $align-items: flex-start,
            $justify-content: flex-start
          );
          transform: translateY(0);
        }
      }
      .profile {
        display: none;
      }
    }
    .menu {
      display: block;
    }
  }
}

// ******************** HOME-PAGE STYLES ************************
.home-section {
  width: 100%;
  height: 90vh;
  color: white;
  @include index.flex-box($flex-dir: column);
  text-align: center;
  gap: 1rem;
  h2 {
    width: 50%;
    font-size: 4rem;
    span {
      @include dark-text;
    }
    animation: slideUp 1s ease-out forwards;
  }
  p {
    width: 30%;
    font-size: 1.1rem;
    animation: slideUp 1s ease-out forwards;
  }
  a {
    @include get-started;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  @media (width<=1000px) {
    h2 {
      width: 80%;
      font-size: 3rem;
    }
    p {
      width: 60%;
    }
  }
}

// ************** PROFILE STYLES ********************
.profile-section {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  @include index.flex-box($flex-dir: column);
  gap: 1rem;
  h2 {
    font-size: 3rem;
    color: white;
  }
  form {
    width: 40%;
    background-color: #ffffff6d;
    border-radius: 5px;
    padding: 2rem;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    .form-group {
      width: 100%;
      @include index.flex-box;
      gap: 0.5rem;
      div {
        width: 100%;
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
      }
    }
    label {
      font-size: 1.2rem;
      margin-bottom: 2%;
      color: white;
    }
    input {
      padding: 0.6rem;
      width: 100%;
      border: none;
      font-size: 1.2rem;
      outline: none;
      border-radius: 5px;
    }
    button {
      padding: 0.7rem;
      border: none;
      margin: 0 auto;
      border-radius: 5px;
      font-size: 1.1rem;
      background-color: dodgerblue;
      color: white;
    }
    .form-group2 {
      width: 100%;
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
    }
    .form-group3 {
      @include index.flex-box;
      background-color: pink;
      width: 40%;
    }
    @media (width<=1100px) {
      width: 60%;
      @media (width<720px) {
        width: 95%;
      }
    }
  }
}

// ************** PORTFOLIO STYLES **************
.portfolio-section {
  width: 100%;
  height: 90vh;
  @include index.flex-box($flex-dir: column);
  text-align: center;
  gap: 1rem;
  color: white;
  h2 {
    font-size: 3rem;
  }
  p {
    width: 80%;
    font-size: 1.2rem;
  }
  a {
    @include get-started;
    animation: none;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

// ************** NEWS STYLES **************
.news-section {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  @include index.res-grid;
  .tagline {
    width: 100%;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    h2 {
      font-size: 4rem;
      color: white;
      animation: slideRight 1s ease-out forwards;
    }
    h4 {
      font-size: 2rem;
      @include index.flex-box($justify-content: flex-start);
      gap: 1rem;
      animation: slideRight 1s ease-out forwards;
      span {
        @include dark-text;
      }
    }
  }
  .news-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: transparent;
    .all-news {
      @include index.flex-box($flex-dir: column);
      gap: 1rem;
      .news {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 0.5rem;
        h3 {
          width: 100%;
          padding: 1rem;
          font-size: 1.4rem;
          text-transform: capitalize;
          border-bottom: 1px solid #c6c6c6;
        }
        p {
          width: 100%;
          padding: 1rem;
          font-size: 1.1rem;
          @include index.flex-box($justify-content: space-between);
        }
        .news-link {
          @include index.flex-box($justify-content: flex-start);
          gap: 1rem;
        }
      }
    }
  }
  @media (width<1100px) {
    height: 100%;
    @include index.res-grid(100%);
    .tagline {
      h2 {
        width: 80%;
        font-size: 3.5rem;
        @media (width<=500px) {
          font-size: 3rem;
        }
      }
    }
  }
}

// ************** STOCKS STYLES **************
.stocks-section {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  .search {
    width: 100%;
    height: 15%;
    padding: 2rem;
    @include index.flex-box;
    gap: 2rem;
    input {
      width: 30%;
      padding: 0.7rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    button {
      padding: 0.5rem 1rem;
      border-radius: 50px;
      font-size: 1.2rem;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      transition: all 300ms ease-in;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  @media (width<=1000px) {
    .search {
      input {
        width: 100%;
      }
    }
  }
  .table-container {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    .stocks {
      width: 100%;
      background-color: white;
      border-radius: 5px;
      position: relative;
      thead {
        border-radius: 5px 5px 0 0;
        position: sticky;
        top: 0;
        tr {
          background-color: black;
          th {
            font-size: 1.2rem;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 0.5rem;
            border-radius: 5px 5px 0 0;
            font-weight: 400;
            color: white;
            &:nth-last-child(1) {
              border-right: none;
            }
          }
        }
      }
      tbody {
        border-radius: 0 0 5px 5px;
        tr {
          td {
            padding: 0.5rem;
            font-size: 1.1rem;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            &:nth-last-child(1) {
              border-right: none;
            }
          }
          .symbol {
            span {
              margin: 7%;
            }
            a {
              background-color: transparent;
              .arr-right {
                color: darkblue;
              }
            }
          }
          .currency {
            color: dodgerblue;
          }
          .link {
            color: darkblue;
            text-decoration: underline;
          }
        }
      }
      .high {
        color: green;
      }
      .low {
        color: crimson;
      }
    }
  }
}

// ********************* EACH STOCK STYLES **********************
.each-stock-section {
  width: 100%;
  height: 90vh;
  @include index.res-grid;
  .stock-info {
    width: 100%;
    height: 100%;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    // background-color: pink;
    padding: 1rem;
    animation: slideRight 1s ease-out forwards;
    h3 {
      font-size: 4rem;
      color: white;
    }
    table {
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
      // border: 1px solid black;
      background-color: white;
      border-radius: 5px;
      thead {
        border-radius: 5px 5px 0 0;
        background-color: black;
        tr {
          th {
            color: white;
            padding: 0.5rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
      tbody {
        width: 100%;
        tr {
          width: 100%;
          @include index.flex-box($justify-content: space-between);
          border-bottom: 1px solid black;
          &:nth-last-child(1) {
            border-bottom: none;
          }
          td {
            width: 100%;
            font-size: 1.3rem;
            background-color: white;
            padding: 0.4rem;
            border-bottom-left-radius: 5px;
            &:nth-child(1) {
              border-right: 1px solid black;
            }
            &:nth-child(2) {
              text-align: right;
            }
            &:nth-last-child(1) {
              border-radius: 0 0 5px 5px;
            }
          }
          .high {
            color: green;
          }
          .low {
            color: crimson;
          }
          .per-change {
            @include index.flex-box($justify-content: flex-end);
            gap: 0.5rem;
          }
        }
      }
    }
  }
  .stock-chart {
    width: 90%;
    height: 60%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    div {
      padding: 1rem;
    }
  }
  @media (width<=1100px) {
    height: 100%;
    height: 100%;
    @include index.res-grid(100%);
    .stock-info {
      align-items: center;
    }
    .stock-chart {
      width: 100%;
      height: 100%;
    }
  }
}
