* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
}

html {
  background: linear-gradient(150deg, lime, dodgerblue, lime);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin res-grid($col-width: 50%) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($col-width, 1fr));
  place-items: center;
}

@mixin flex-box(
  $justify-content: center,
  $align-items: center,
  $flex-dir: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-dir;
}
